@import './themes';

$size = {
    "main": 16px
}

$directions = {
    'l' : 'left',
    'r' : 'right',
    'b' : 'bottom',
    't' : 'top',
    'x' : 'x',
    'y' : 'y'
}

$breakpoints = {
  lg : 0
}

$sizes = {
  xxs: 2,
  xs: 3,
  s: 4,
  m: 5,
  l: 7,
  xl: 10,
  xxl: 14,
  xxxl: 24,
}

$multiplicity = 4px;
