.range__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  align-content: space-between;

  height: initial;

  .range__status {
    margin-left: auto;
    text-align: right;
    width: 140px;
    white-space: nowrap;
    padding: 0;

    position: initial;
    right: initial;
    top: initial;
  }
}

