.diary-list-item {
  padding: 24px;
  display: block;
  text-decoration: none;

  &--tracker {
    padding: 18px 18px 14px 18px;
    overflow: hidden;
    height: 73px;
  }
  &--tracker &__badges {
  }

  .diary-stats + &__badges {
    margin-top: 20px;
  }

  &--tracker .diary-stats + &__badges,
  &--tracker .diary-stats + &__info  {
    margin-top: 17px;
  }

  &__badges + &__info {
    margin-top: 16px
    font-size: 16px;
    line-height: 20px;
  }
  .diary-stats + &__info {
    margin-top: 20px;
  }

  &__date {
    margin-top: 15px;
    text-align: right;
    position: relative;
    font-size: 11px;
    color: $theme.diary.list.date;
    &-button {
      position: relative;
      top: -1px;
      margin-left: 7px;
      text-decoration: none;
      color: rgba($color.primary, 0.54) !important;
      & > i {
        font-size: 24px;
      }
    }
  }

  .diary-stats {
    display: flex;
    font-weight: 100;
    &__item {
      &--1 {
        width: 33%;
      }
      &--2 {
        width: 33%;
      }
      &--3 {
        width: 33%;
      }
      &-content {
        margin-right: 10px;
      }
      &-label {
        margin-bottom: 8px;
        font-size: 11px;
        color: #aaa;
      }
      &-value {
        font-size: 13px;
        font-weight: 600;
      }
    }
    &__item + &__item {
      padding-right: 20px;
    }
  }

  &__badges {
    margin-left: -4px;
  }

  &__info {
    text-decoration: none;
    font-size: 16px;
    word-wrap: break-word;
    white-space: pre-wrap;
    color: rgba($color.primary,0.80);
    line-height: 20px;
  }
}
